@(
  documentSet: org.overviewproject.tree.orm.DocumentSet,
  treesAndJobs: Seq[Either[org.overviewproject.tree.orm.DocumentSetCreationJob,org.overviewproject.tree.orm.Tree]],
  viewer: OverviewUser
)(implicit lang: play.api.i18n.Lang, request: RequestHeader)

@import views.helper.DocumentSetHelper

@defining(scopedMessages("views.DocumentSet._documentSet")) { m =>
  <li data-document-set-id="@documentSet.id">
    <div class="actions">
      <a class="btn show-sharing-settings"
        href="@routes.DocumentSetUserController.indexJson(documentSet.id)"
        data-create-url="@routes.DocumentSetUserController.create(documentSet.id)"
        data-delete-url-pattern="@routes.DocumentSetUserController.delete(documentSet.id, "VIEWER_EMAIL")"
        data-is-admin="@viewer.isAdministrator"
        data-is-public="@documentSet.isPublic"
        data-update-url="@routes.DocumentSetController.update(documentSet.id)?X-HTTP-Method-Override=PUT">
        <i class="overview-icon-share"></i> @m("share")
      </a>

      <a class="btn"
        data-remote="@routes.DocumentSetExportController.index(documentSet.id)"
        data-toggle="modal"
        data-target="#export-modal">
        <i class="overview-icon-download"></i> @m("export")
      </a>

      <form class="create-tree form-inline" method="post" action="@routes.TreeController.create(documentSet.id)">
        @helper.Form.csrfToken
        <button type="submit" class="btn">
          <i class="icon-repeat"></i>
          @m("recluster")
        </button>
      </form>

      <form method="post" class="delete form-inline" data-confirm="@m("confirm_delete", documentSet.title)" action="@routes.DocumentSetController.delete(documentSet.id)?X-HTTP-Method-Override=DELETE"
        >@helper.Form.csrfToken<input type="submit" class="btn btn-danger" value="@m("action_delete")"
      /></form>
    </div>
    <h3>
      @if(treesAndJobs.length == 1 && treesAndJobs.headOption.map(_.isRight).getOrElse(false)) {
        <a href="@routes.TreeController.show(documentSet.id, treesAndJobs.head.right.get.id))">@documentSet.title</a>
      } else {
        @documentSet.title
      }
    </h3>
    <h4>
      <span class="description">
        @(documentSet.query match {
          case Some(query) => m("description.documentcloud", query)
          case None => m("description.other")
        })
      </span>
      <span class="document-count">@m("nDocuments", documentSet.documentCount)</span>
      @if(documentSet.documentProcessingErrorCount > 0) {
        <span class="error-count">
          <a class="error-count" href="@routes.DocumentProcessingErrorController.index(documentSet.id)" data-toggle="modal" data-target="#error-list-modal">
            @m("nErrors", documentSet.documentProcessingErrorCount)
          </a>
        </span>
      }
      @if(documentSet.importOverflowCount > 0) {
        <span class="overflow-count" title="@m("nOverflow.title")">@m("nOverflow", documentSet.importOverflowCount)</span>
      }
    </h4>
    <div class="trees@{ if (treesAndJobs.length == 1) " single" else "" }">
      <h5>@m("nTrees", treesAndJobs.length)</h5>
      <ul>
        @treesAndJobs.map(_ match {
          case Left(job) => _treeJob(job)
          case Right(tree) => _tree(tree)
        })
      </ul>
    </div>
  </li>
}
